.projects-main-container {
        padding: 5rem;
        text-align: left;
      }
     
      .projects-main-container h2{
        font-size: 3rem;
      } 

      .projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2rem;
        margin-top: 3rem;
      }
      
      .project-card {
        background-color: #d6d2ce;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      
      .project-image {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 10px;
      }
      
      .project-card h3 {
        margin-top: 1rem;
        font-size: 1.5rem;
      }
      
      .project-card p {
        margin-top: 0.5rem;
        font-size: 1rem;
        color: #333;

      }
      
      .project-card a {
        display: inline-block;
        margin-top: 1rem;
        color: #333;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
        border: solid black 1px;
      }
      
      .project-card a:hover {
        background-color: #b20000;
        color: #f1f1f1;
      }

      .project-skills-img{
        width: 3rem;
        
      }